@import url("./resecStyle.css");

html,body{
    width: 100%;
}
body{
    background-color: #ebecee;
}
header{
    width: 100%;
    height: 80px;

    background: white;
    box-shadow: 2px 0 3px #757575;

    position: relative;
}
header #logo{
    height: 100%;

    line-height: 80px;
    text-align: center;
    font-size: 40px;
    font-weight: bold;
    color: #08a7f2;

    position: absolute;
    left: 3%;
}
main{
    width: 100%;
    height: 1000px;
    background-color: #ebecee;

    display: grid;
    gap: 10px;
    grid-template: "none mainContent mainContent rank" 600px "none mainContent mainContent ad" 300px / 300px 300px 300px 300px;
}
main #main_Content{
    grid-area: mainContent;
    background: white;
}
main #main_Content h1{
    margin-left: 3%;
    margin-top: 30px;
    margin-bottom: 10px;

    font-size: 32px;
    font-weight: 550;
}
main #main_Content h2{
    margin-left: 3%;
    margin-bottom: 20px;

    font-size: 14px;
    color:#999999;
}
main #main_Content #image{
    width:100%;
    height:300px;
   background-image: url("./mainContentBackground.jpg");
   background-size: cover;
   background-position: center;
}
main #main_Content p{
    margin-left: 3%;
    margin-top: 30px;

    font-size: 18px;
    color:rgba(0, 0, 0, 0.6);
    line-height: 18px;
}
main #ranking{
    grid-area: rank;
    background: white;
}
main #ad{
    grid-area: ad;
    background: white;
}